#blue {
    color: blue;
}
#pink {
    color: pink;
}
#black {
    color: black;
}
#green {
    color: green;
}
#yellow {
    color: yellow;
}
#color {
    height: 200px;
    width: 200px;
}
h2 {
    font-weight: normal;
}